// $color-text-light: #e1d4c9;
$color-text-dark: #4f2e26;
$color-text-hover: #96675e;
// $color-text-accent: #bfa898;
$color-text-accent: #cc826f;
$color-bg-body: #faefe2;
// $color-bg-container: #665f55;
// $color-bg-backdrop: #403f3dcc;
// $color-border-light: #c1b6ad;
// $color-border-dark: #665f55;

$content-width: 1360px;
$tablet-content-width: 688px;
$mobile-content-width: 348px;

$tablet-width: 768px;
$mobile-width: 380px;
